{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "modules": true
    },
    "root" :true
  },
  "env": {
    "node": true
  },
  "extends": [
    "es2015/node"
  ],
  "rules": {
    "no-console": 0,
    "no-constant-condition": 0
  }
}
