language: node_js
node_js:
  - "0.12"
  - "4.3"

before_install: if [[ `npm -v` != 3* ]]; then npm i -g npm@3; fi

before_script:
  - npm run-script buildMochaOpts
  - npm install -g codeclimate-test-reporter

script:
  - npm run-script lint
  - npm test

after_script:
  - codeclimate-test-reporter < coverage/lcov.info

addons:
    code_climate:
        repo_token: 0d5dc2c8ee0457adf2b7109a58e2de3decd41b105743f36a6b9c66f8860ecf56
